# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.userprefs

# Build Folders
bin/
obj/
TestResults/

# Rider / JetBrains
.idea/
*.sln.iml

# Package Folders
packages/
*.nupkg
*.snupkg
.nuget/
**/NuGet.Config
**/packages.config
**/project.json
**/*.nuspec

# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# Logs
*.log

# Environment Variables
.env

# Resharper
_ReSharper*/
